*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    position: relative;
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: rgb(140, 223, 176);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    font-size: 1.1rem;
}
.navbar ul li a{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    border-bottom: 2px solid white;
}
#home{
    display: flex;
    flex-direction: column;
    height: 675px;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 200, 85);
    color: white;
}
.heading{
    color: white;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    transform: scale(1,1.5);
}
#about{
    display: flex;
    flex-direction: column;
    background-color:rgb(140, 223, 176) ;
    height: 735px;
}
#about p{
    text-align: center;
    margin: 20px 0 20px;
    padding: 1%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    width: 20em;
    margin-top: 2%;
    border: 4px solid white;
  }